img{
    display: block;
    height: 300px;
    padding-left:  5px;
    width: 100%;
}
.center{
	background-color: white;
    margin: auto;
    width: 60%;
    padding: 10px;
}

div{
    background-color: white;
}
h1{
    margin: auto;
    width: 20%;
}

#align{
	margin: auto;
	width: 60%;
	padding: 10px;
}

#centering{
	margin: auto;
	width: 60%;
}
#centerFeedback{
	margin-left: 40px;
}