#align{
	margin: auto;
	width: 60%;
	padding: 10px;
}
.center{
	background-color: white;
	margin: auto;
	width: 50%;
}
body{
	background-color: gray;
}
h1{
	margin: auto;
	width: 10%;
}
#centering{
	margin: auto;
	width: 60%;
}
#centerFeedback{
	margin-left: 40px;
}